*{
	margin:0;
	padding: 0;
}
/*font-size:vw;*/
body{
	width: 100%;
}

/* HEADER */

header{
/*display:block;*//*vertical-align:top;*/
width: 100%;
background-image: url('../img/header.png');
background-size: cover;
height: 60vw;
}
		.logo{
			width:10%;
			display: flex;
			margin: auto;
		}
		header h1{
			font-size:5vw;
			color: #FFF;
		}
		header h2{
			font-size: 4vw;
			font-weight: normal;
			color: #FFF;
		}

/* BUTTON */

#inheader a{
	width: 155px;
	padding: 1%;
	display: flex;
	background-color: #FFF;
	margin: 1% auto 0 auto;
	cursor: pointer;
	text-decoration: none;
	color : #000;
	border-radius: 4px;
}
	#inheader a:hover{
	opacity: 0.5;
	}

	a span{
		padding: 1px;
		margin-top: 2px;
		margin: auto;
	}

	 a img{
		width: 15%;
	}


/* SECTION */

/* SECTION 1 */

#section1{
	width: 90%;
	margin: auto;
}


/* ARTICLE */

article{
	margin: 1% auto;
	display: flex;
	flex-direction: column;
	border: 2px solid red;
	border-radius: 4px;
	padding: 10px;
}
	/* IMG ART 1 - ART 2 - ART 3 */
	#front,#back{
	width: 100%;
	}

	#art1, #art2, #art3para{
		display: none;
	}

	.hiddenart{
		display: none;
	}

button {
	width: 155px;
	padding: 2.5%;
	margin: 2% auto;
	cursor: pointer;
	text-decoration: none;
	color : #000;
	border-color: blue;
	border-radius: 4px;
	background: white;
}
/* ARTICLE 2 */

	#art2 table{
	border: 2px solid blue;
	border-radius: 4px;
}


/* ARTICLE 3 */

#art3{
	display: flex;
	flex-direction: row;
}
.imgbloc{
	border: 2px solid red;
	width: 100%;
}
	.imgbloc img{
		width: 100%;
		height: 50%;
		vertical-align: top;
		opacity: 0.5;
	}
	.imgbloc img:hover{
		opacity: 1;
	}

/* SECTION 2 */

#section2{
	background-image: url('../img/form.png');
	background-size: cover;
}

#title2{
	color: #FFF;
	padding-top: 10%;
	border: 2px solid blue;
}
/* FORM */

form{
	display: flex;
	flex-direction: column;
	padding: 13% 0;
	border:2px solid green;
}

input[type=text], input[type=email], input[type=tel] {
	width: 320px;
	margin: 1% auto;
	padding: 12px 15px;
}

input[type=submit]{
	width: 150px;
	background-color: #000;
	margin:auto;
	padding: 12px 15px;
	color: white;
	border:none;
}
	input[type=submit]:hover{
		background-color: #FFF;
		color:#000;
		cursor: pointer;
	}

/* FOOTER */

footer{
	background-color: #000; color: #FFF;
	display: flex;
	flex-direction: column-reverse;
}
#bloc li{
	list-style-type: none;
}
#bloc li a{
	text-decoration: none;
	color: #FFF;
}
.pub a img{
	width: 5%;
}



/* Minimum est la résolution de l'IPAD */

@media screen and (min-width: 769px){
 /* ARTICLE */
 #art1, #art2, #art3para{
	display: block;
}
button{
	display: none;
}
 .hiddenart{
 	display: block;
 }
 .arthidden{
 	display:none;
 }
/* COPY OF NABIL'S CODE */

footer{
	flex-direction: row;
	justify-content: space-around;
}

 div#bloc{
 	margin-left: -100px;
 	border: 2px solid grey;
	display: flex;
 	flex-direction: row;
 	justify-content: space-between;

}

div.bloc1 {
	padding: 60px 40px;
}

div.pub{
	padding: 60px 2px;
}
/* FIN */
.pub a img{
	width: 30%;
	}
}

/* Minimum est la résolution à l'IPAD (techniquement un laptop ou autre connerie du genre */

@media screen and (min-width: 1025px){

 /* ARTICLE */

.arthidden{
	display: none;
}
.hiddenart{
	display: block;
}

#art-a{
	display: flex;
	flex-direction: row-reverse;
}
#art-b{
	display: flex;
	flex-direction: row;
}
#art-c{
	display: flex;
	flex-direction: row-reverse;
}
#front,#back{
	width:50%;
}

/* SECTION 1 */

#section1{
	width:100%;
}

/* ARTICLE */

article{
	margin: 0 auto;
	padding: 0;
}

form{
	margin-left: 50%;
}

/* FOOTER */

footer{
	flex-direction: row;
	justify-content: space-around;
}

 div#bloc{
 	margin-left: -100px;
 	border: 2px solid grey;
	display: flex;
 	flex-direction: row;
 	justify-content: space-between;

}
div.bloc1 {
	list-style-type: none; 
	padding: 60px 40px;

}

h4#rej{
	padding-bottom: 10px;
}

h4.unicond{
	width: 90%;
	padding-bottom: 25px

}

li{
	padding-bottom: 8px;
}

div.pub{
	padding: 60px 2px;
}


#inheader a{
	margin-left: 80%;
	margin-top: 37%;
}

}