* {
	margin:0; 
	padding:0;
}

/* header */

header {
	background-image: url('../img/header.png');
	background-size: cover;
	height: 100vh;
}

#logo {
	display: block;
	margin: auto;
}

#title{
	position: absolute;
	margin: 25% 0 0 2%;
}

#article1 img, #article2 img{
	width: 50%;
}

#article3 img{
	width:;
}

#section2{
	background-image: url('../img/form.png');
	height: 100vh;
}

form{
	width: 50%;
	display: flex;
	flex-direction: column;
}

input[type=text], input[type=email], input[type=tel] {
	width: 60%;
	margin: 1%;
	padding: 12px 15px;
}

input[type=submit]{
	width: 30%;
	background-color: #000;
	margin-left: 50%;
	padding: 12px 15px;
	color: white;
}